# fly.prod.toml app configuration file for prod-op
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'prod-op'
primary_region = 'sjc'
kill_signal = 'SIGTERM'

[build]

[env]
  DATABASE_PATH = '/mnt/op_prod_data/op.db'
  PHX_HOST = 'app.oregonpinball.org'
  PORT = '8080'

[[mounts]]
  source = 'op_prod_data'
  destination = '/mnt/op_prod_data'
  auto_extend_size_threshold = 80
  auto_extend_size_increment = '1GB'
  auto_extend_size_limit = '10GB'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

  [http_service.concurrency]
    type = 'connections'
    hard_limit = 1000
    soft_limit = 1000

[[vm]]
  memory = '1gb'
  cpus = 1
  memory_mb = 1024
