# fly.toml app configuration file generated for staging-op on 2026-01-12T06:12:46Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#
#
# Note: `name` for mount needs to be "name" unless we want to re-seed in the future.
#

app = 'staging-op'
primary_region = 'sjc'
kill_signal = 'SIGTERM'

[build]

[env]
  DATABASE_PATH = '/mnt/name/op.db'
  PHX_HOST = 'staging-op.fly.dev'
  PORT = '8080'
  UPLOADS_DIR = '/mnt/name/uploads'

[[mounts]]
  source = 'name'
  destination = '/mnt/name'
  auto_extend_size_threshold = 80
  auto_extend_size_increment = '1GB'
  auto_extend_size_limit = '10GB'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

  [http_service.concurrency]
    type = 'connections'
    hard_limit = 1000
    soft_limit = 1000

[[vm]]
  memory = '1gb'
  cpus = 1
  memory_mb = 1024
