/* Inspired from: https://leanrada.com/notes/pure-css-halftone/ */
.halftone {
    background: white;
    position: relative;
    filter: contrast(25000%);
    overflow: hidden;
}

.halftone > * {
  filter: brightness(0.75) blur(1px);
  transition: filter 1s ease-in;
}
.group:hover .halftone > * {
  filter: brightness(0.9) blur(0);
  transition: filter 3s ease;
}

.group:hover .halftone::after {
  background-size: 3px 3px;
}

.halftone::before {
  content: '';
  position: absolute;
  top: -100%;
  left: -100%;
  right: -100%;
  bottom: -100%;
  background-image: linear-gradient(90deg, #000, #fff);
}

.halftone::after {
    content: '';
    position: absolute;
    top: -100%;
    left: -100%;
    right: -100%;
    bottom: -100%;
    background-blend-mode: multiply;
    background:
        radial-gradient(4px 4px, cyan, white),
        radial-gradient(4px 4px, magenta, white),
        radial-gradient(4px 4px, yellow, white);
    background-size: 3px 3px;
    background-position: 0 -3px, -2px 0, 2px 0;
    mix-blend-mode: screen;
    pointer-events: none;
    transform: rotate(0deg);
    transition: 1s ease-in-out transform;
    z-index: 1;
}
