/* Prose Typography Styles */
.prose {
  /* Headings: h1, h2, h3, h4, th */
  h1,
  h2,
  h3,
  h4,
  th {
    font-weight: 600;
    line-height: 1.3;
    font-size: 50rem;
  }

  /* Lead text */
  [class~="lead"] {
    font-size: 1.25rem;
    line-height: 1.6;
  }

  /* Individual heading styles */
  h1 {
    font-size: 2.25rem;
    margin-top: 0;
    margin-bottom: 0.875em;
  }

  h2 {
    font-size: 1.875rem;
    margin-top: 2em;
    margin-bottom: 1em;
  }

  h3 {
    font-size: 1.5rem;
    margin-top: 1.6em;
    margin-bottom: 0.6em;
  }

  h4 {
    font-size: 1.25rem;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
  }

  /* Paragraphs */
  p {
    margin-top: 1.25em;
    margin-bottom: 1.25em;
  }

  /* Links */
  a {
    color: theme("colors.blue.600");
    text-decoration: underline;
    font-weight: 500;
  }

  a:hover {
    color: theme("colors.blue.700");
  }

  /* Blockquotes */
  blockquote {
    font-weight: 500;
    font-style: italic;
    border-left-width: 0.25rem;
    border-left-color: theme("colors.gray.300");
    quotes: "\201C""\201D""\2018""\2019";
    margin-top: 1.6em;
    margin-bottom: 1.6em;
    padding-left: 1em;
  }

  /* Figures */
  figure {
    margin-top: 2em;
    margin-bottom: 2em;
  }

  figcaption {
    font-size: 0.875rem;
    line-height: 1.4;
    margin-top: 0.875em;
    color: theme("colors.gray.600");
  }

  /* Strong text */
  strong {
    font-weight: 600;
  }

  /* Emphasis */
  em {
    font-style: italic;
  }

  /* Keyboard input */
  kbd {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
      monospace;
    font-size: 0.875em;
    font-weight: 500;
    background-color: theme("colors.gray.100");
    border: 1px solid theme("colors.gray.300");
    border-radius: 0.25rem;
    padding: 0.125rem 0.375rem;
  }

  /* Code */
  code {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
      monospace;
    font-size: 0.875em;
    font-weight: 600;
    background-color: theme("colors.gray.100");
    padding: 0.125rem 0.375rem;
    border-radius: 0.25rem;
  }

  /* Pre-formatted text */
  pre {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
      monospace;
    font-size: 0.875rem;
    line-height: 1.7;
    overflow-x: auto;
    background-color: theme("colors.gray.900");
    color: theme("colors.gray.100");
    border-radius: 0.375rem;
    padding: 1rem;
    margin-top: 1.75em;
    margin-bottom: 1.75em;
  }

  pre code {
    background-color: transparent;
    border: none;
    padding: 0;
    color: inherit;
    font-size: inherit;
    font-weight: 400;
  }

  /* Ordered lists */
  ol {
    list-style-type: decimal;
    padding-left: 1.625em;
    margin-top: 1.25em;
    margin-bottom: 1.25em;
  }

  /* Unordered lists */
  ul {
    list-style-type: disc;
    padding-left: 1.625em;
    margin-top: 1.25em;
    margin-bottom: 1.25em;
  }

  /* List items */
  li {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  /* Definition lists */
  dl {
    margin-top: 1.25em;
    margin-bottom: 1.25em;
  }

  /* Definition terms */
  dt {
    font-weight: 600;
    margin-top: 1.25em;
  }

  /* Definition descriptions */
  dd {
    margin-top: 0.5em;
    padding-left: 1.625em;
  }

  /* Tables */
  table {
    width: 100%;
    table-layout: auto;
    text-align: left;
    margin-top: 2em;
    margin-bottom: 2em;
    border-collapse: collapse;
  }

  thead {
    border-bottom-width: 1px;
    border-bottom-color: theme("colors.gray.300");
  }

  tr {
    border-bottom-width: 1px;
    border-bottom-color: theme("colors.gray.200");
  }

  th {
    font-weight: 600;
    vertical-align: bottom;
    padding: 0.5rem 0.75rem;
  }

  td {
    vertical-align: top;
    padding: 0.5rem 0.75rem;
  }

  /* Images */
  img {
    max-width: 100%;
    height: auto;
    margin-top: 2em;
    margin-bottom: 2em;
  }

  /* Picture element */
  picture {
    display: block;
  }

  /* Videos */
  video {
    max-width: 100%;
    height: auto;
    margin-top: 2em;
    margin-bottom: 2em;
  }

  /* Horizontal rules */
  hr {
    border-color: theme("colors.gray.300");
    margin-top: 3em;
    margin-bottom: 3em;
  }
}
